
.product{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border: 1px solid black;
      margin-top: 10px;
      width: 100%;
      padding: 10px;
}
.product-image{
     flex-basis: 30%;

}
.product-image img{
      width: 100%;
      height: 100%;

}
.product-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



//

.product1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border: 1px solid black;
      margin-top: 10px;
      width: 99%;
      padding: 20px;
      margin-left: 10px;
}
.product-image1{
     flex-basis: 20%;

}
.product-image1 img{
      width: 100%;
      height: 100%;

}
.product-details1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: black;
    font-size: 20px;
}
.empty{
      color: red;
}
.totals{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      color: blueviolet;
}